.photo-grid{
    display: grid;
    max-width: 1178px;
    margin: 92px auto 92px auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: 100%;
  gap:16px;
}