.photo-grid {
  display: grid;
  max-width: 1178px;
  margin: 92px auto 92px auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: 100%;
  gap: 16px;
}

@media screen and (min-width:769px) and (max-width:1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }

}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    margin: 0 auto 88px auto;
    width: calc(100% - 48px);
  }

}

@media screen and (max-width:320px) {
  .photo-grid {
    grid-template-columns: 100%;
    margin: 0 auto 64px auto;
    gap: 12px;
    width: calc(100% - 32px);
  }

}