.intro__list {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
}

@media screen and (max-width: 375px) {
  .intro__list {
    max-width: 288px;
    padding: 34px auto 0 auto;
  }
}
