.header {
  margin: 28px auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  background-color: black;
}

@media screen and (min-width: 1280px) {
  .header {
    margin: 45px 200px 0 200px;
  }
}

@media screen and (min-width: 880px) {
  .header {
    max-width: 880px;
    margin: 45px auto;
  }
}
