.lead__images {
  max-width: 1022.36px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead__images {
    max-width: 928px;
  }
}

@media screen and (max-width: 320px) {
  .lead__images {
    max-width: 320px;
    margin: 0;
  }
}
